---
title: べびーるっくチュートリアル
isSiteTop: true
---
%h1 べびーるっくチュートリアル

%h2 ここはどんなサイト？
%p
  このページは、これからベビールック・おむつ趣味を始める方と、
  ベビールック・おむつ趣味の初心者に向けた入門書です。
%p
  おむつの入手方法や当て方等、始める時に躓きがちな疑問にお答えします。

%h2 誰を対象にしているの？
%p
  おむつやベビールックに興味を持っているけれど、周りに同好の士がいない方に向けた
  方への解説として執筆しています。
  %br
  紙おむつは使ったことがあるけれど、布おむつを始めてみたい方にも参考になるかも
  知れません。

%h2 ここの記述、こうした方がいいんじゃない？
%p
  当サイトはgithubで全コードを管理しています。
  %br
  記述内容を改善して頂けましたら、是非プルリクエストをお願いしますね。
  %code
    = link_to "https://github.com/felinebabies/babylook_tutorial", "https://github.com/felinebabies/babylook_tutorial"
