---
title: べびーるっくチュートリアル：通信販売のしかた
---
%h1 通信販売のしかた
%h2 誰にも会わずに安心しておむつを買える通信販売
%p
  = image_tag lorem.image('400x200')
  %br
  自分に合ったおむつを購入しようとしても、店頭で直接買うのは恥ずかしい。
  持ち帰る時に、知人に遭遇したらどうしよう……
  %br
  こういう不安も含めて楽しみたいわけではないのなら、通信販売を利用するのをお勧めします。
  %br
  通信販売では、基本的におむつを見られる事なく手にすることができますが、手元に届くまで
  商品を確認できないということでもあります。
  %br
  注意する点を確認しながら、自分に合った通信販売の方法を探しましょう。

%h2 Amazon.co.jpで購入する
%dl
  %dt メリット
  %dd
    %ul
      %li Amazon共通の段ボール箱で届くので、中身が他人にはわからない
      %li 紙おむつについては充実した品揃え
  %dt デメリット
  %dd
    %ul
      %li おむつカバーの品揃えに乏しい
      %li サイズ等を購入前に実物で確認できない
      %li 荷物のサイズによっては自宅以外での受け取りが指定できない場合がある

%p
  = link_to "Amazon.co.jp", "http://www.amazon.co.jp/"
  の通販を利用します。既に本等の買い物に利用している方も多いと思いますが、
  日用品販売のカテゴリには大人用紙おむつやおむつカバーも含まれており、
  試しにおむつを買ってみたい方には適していると思います。
%p
  おなじみのAmazonの段ボール箱には品名も表記されておらず、基本的に中身を知ることはできません。
  先に箱を誰かに開けられてしまう心配さえ無ければ、秘密を守りつつ買い物ができます。
%p
  品揃えは、紙おむつを主に取り揃えている印象です。
  %br
  おむつカバーは医療用のシンプルなものしか見当たらないため、布おむつ派の方には物足りないでしょう。
