---
title: べびーるっくチュートリアル：通信販売のしかた
---
%h1 通信販売のしかた
%h2 誰にも会わずに安心しておむつを買える通信販売
%p
  自分に合ったおむつを購入しようとしても、店頭で直接買うのは恥ずかしい。
  持ち帰る時に、知人に遭遇したらどうしよう……
  %br
  こういう不安も含めて楽しみたいわけではないのなら、通信販売を利用するのをお勧めします。
  %br
  通信販売では、基本的におむつを見られる事なく手にすることができますが、手元に届くまで
  商品を確認できないということでもあります。
  %br
  注意する点を確認しながら、自分に合った通信販売の方法を探しましょう。

%h2 Amazon.co.jpで購入する
%dl
  %dt メリット
  %dd
    %ul
      %li Amazon共通の段ボール箱で届くので、中身が他人にはわからない
      %li 紙おむつについては充実した品揃え
  %dt デメリット
  %dd
    %ul
      %li おむつカバーの品揃えに乏しい
      %li サイズ等を購入前に実物で確認できない

%p
  = link_to "Amazon.co.jp", "http://www.amazon.co.jp/"
  の通販を利用します。
